/* 本例子css */
.picFocus1{
    width: 560px;
    height: 380px;
    margin: 0 auto;
    position: relative;
}
.picFocus1 .bd ul li{
    display: none;
}
.picFocus1 .bd ul li img{
    height: 300px;
    width: 100%;
}
.picFocus1 .bd ul li.on{
    display: block;
}
.picFocus1 .hd{
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -45px;
}
.picFocus1 .hd li{
    width: 15px;
    height: 15px;
    background-color: #aaaaaa;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.picFocus1 .hd li.on{
    background-color: #00adef;
}